<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('产品管理')"></head>
<body>
<div th:replace="include/admin/adminNavigator::html"></div>
<script>
    $(function () {
        var cid = getUrlParms("cid");//从URL参数中获取的类别ID，用于后续的数据请求中指定类别
        var data4Vue = {
            uri: 'products',//用于构建API请求的URI部分
            beans: [],//存储产品列表的数组
            bean: {//用于新增产品的对象
                id: 0,
                name: '',
                'subTitle': '',
                'originalPrice': 99.98,
                'promotePrice': 19.98,
                'stock': 99,
                category: {'id': 0}
            },
            pagination: {},//存储分页信息
            category: ''//存储当前类别对象
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',//指定Vue实例挂载的元素，这里是ID为workingArea的DOM元素
            data: data4Vue,//指定Vue实例的数据对象
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.list(0);//在Vue对象加载成功后执行一次list方法，获取产品列表
                this.getCategory(cid);//获取当前类别对象
            },
            methods: {
                //使用Axios发送GET请求到"categories/" + cid，获取指定类别的数据，并更新vue.category
                getCategory: function (cid) {
                    var url = "categories/" + cid;
                    axios.get(url).then(function (response) {
                        vue.category = response.data;
                    })
                },
                //根据类别ID和分页信息发送GET请求获取产品列表，并更新vue.pagination和vue.beans
                list: function (start) {
                    var url = "categories/" + cid + "/" + this.uri + "?start=" + start;
                    axios.get(url).then(function (response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                    });
                },
                //添加新产品的方法。首先进行输入验证，然后构建请求体，并通过Axios发送POST请求添加新产品。成功后刷新列表并重置bean对象
                add: function () {
                    if (!checkEmpty(this.bean.name, "产品名称"))
                        return;
                    if (!checkEmpty(this.bean.subTitle, "小标题"))
                        return;
                    if (!checkNumber(this.bean.originalPrice, "原价格"))
                        return;
                    if (!checkNumber(this.bean.promotePrice, "优惠价格"))
                        return;
                    if (!checkInt(this.bean.stock, "库存"))
                        return;

                    var url = this.uri;
                    this.bean.category.id = cid;
                    axios.post(url, this.bean).then(function (response) {
                        vue.list(0);
                        vue.bean = {
                            id: 0,
                            name: '',
                            'subTitle': '',
                            'originalPrice': 99.98,
                            'promotePrice': 19.98,
                            'stock': 99,
                            category: {'id': 0}
                        };
                    });
                },
                //根据产品ID发送DELETE请求删除产品，成功后刷新列表
                deleteBean: function (id) {
                    if (!checkDeleteLink())
                        return;
                    var url = this.uri + "/" + id;
                    axios.delete(url).then(function (response) {
                        if (0 != response.data.length)
                            alert(response.data);
                        else
                            vue.list(0);
                    });
                },
                //用于分页导航的方法，通常与分页组件一起使用，允许用户跳转到指定页码或通过输入页码直接跳转
                jump: function (page) {
                    jump(page, vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function (start) {
                    jumpByNumber(start, vue);
                }
            }

        });
    });

</script>

<div id="workingArea">
    <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>
        <li class="active">产品管理</li>
    </ol>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>图片</th>
                <th>产品名称</th>
                <th>产品小标题</th>
                <th width="53px">原价格</th>
                <th width="80px">优惠价格</th>
                <th width="80px">库存数量</th>

                <th width="80px">图片管理</th>
                <th width="80px">设置属性</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    <img v-if="null != bean.firstProductImage" width="40px"
                         :src="'img/productSingle/'+bean.firstProductImage.id+'.jpg'">
                </td>
                <td>{{bean.name}}</td>
                <td>{{bean.subTitle}}</td>
                <td>{{bean.originalPrice}}</td>
                <td>{{bean.promotePrice}}</td>
                <td>{{bean.stock}}</td>

                <td>
                    <a :href="'admin_productImage_list?pid=' + bean.id "><span
                            class="glyphicon glyphicon-picture"></span></a>
                </td>
                <td>
                    <a :href="'admin_propertyValue_edit?pid=' + bean.id "><span
                            class="glyphicon glyphicon-th-list"></span></a>
                </td>

                <td>
                    <a :href="'admin_product_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere" @click="deleteBean(bean.id)"><span
                            class="   glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="include/admin/adminPage::html"></div>

    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增产品</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>产品名称</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>产品小标题</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.subTitle" type="text"
                               class="form-control"></td>
                </tr>
                <tr>
                    <td>原价格</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.originalPrice" type="text"
                               class="form-control"></td>
                </tr>
                <tr>
                    <td>优惠价格</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.promotePrice" type="text"
                               class="form-control"></td>
                </tr>
                <tr>
                    <td>库存</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.stock" type="text"
                               class="form-control"></td>
                </tr>


                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html"></div>
</body>
</html>
